html, body {
    height: auto;
}

.sec-subtitle {
  margin-left: 20px;
}

.sec {
  padding: 4rem;
  padding-top: 50px;
}

#feed {
  background-color: rgba(24, 240, 52, 0.1);
}

#next-events {
  background-color: #FFF;
}

#account {
  background-color: #F6F6F6;
}

#all-events {
  background-color: rgba(200, 50, 63, 0.2);
}

.user-info-container {
  margin-left: 30px;
  width: fit-content;
  height: fit-content;
  border-color: aquamarine;
  border-radius: 10px;
}

.user-field {
  font-weight: 900;
}

.event-card{
  width: 22rem;
  border-radius: 30px;
  border: 1px solid rgba(0,0,0,0.4); 
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
}

.minicurso-label {
  width: 80px;
  height: 25px;
  font-size: small;
  font-weight: bold;
  text-align: center;
  font-family: 'DM Mono', Courier, monospace;
  background-color: #01366c;
  color:#FFF;
  border-radius: 20px;
}

.palestra-label {
  width: 75px;
  height: 25px;
  font-size: small;
  font-weight: bold;
  text-align: center;
  font-family: 'DM Mono', Courier, monospace;
  background-color: #460336;
  color: #FFF;
  border-radius: 20px;
}

.event-img {
  border-top-left-radius: 30px; 
  border-top-right-radius: 30px;
}

.speaker-img {
  position: absolute;
  width: 6vw;
  min-width: 7rem;
  border-top-left-radius: 30px; 
  border-bottom-right-radius: 50px;
  border-right: 5px solid rgba(0,0,0,0.4);
  border-bottom: 5px solid rgba(0,0,0,0.4);
}

#speaker-name {
  font-weight: bolder;
}

#event-title {
  color: #000;
}

#minicurso-title {
  color: #01366C;
}

#palestra-title {
  color: #460336;
}

.event-card-short {
  position: relative;
  width: 24em;
  border: 1px solid rgba(0,0,0,0.4); 
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
}

.event-img-short {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.event-img-short:hover {
  animation: event-img-fade 1s ease-in-out;
  opacity: 0.5;
}

@keyframes event-img-fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.5;
  }
}

.speaker-img-short {
  position: absolute;
  right: 10px;
  width: 4vw;
  min-width: 5rem;
  border-radius: 30px;
  border-right: 5px solid #01376cc4;
  border-bottom: 5px solid #4603369a;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
}


.scrollbar {
  overflow: scroll; 
  overflow-x: hidden;
  height: 150px; 
  text-align: left;
  margin: 3%;
}

.btn-menu {
  background: transparent; 
  border: none; 
  padding-left: 5px; 
  padding-right: 0px;
  overflow: hidden;
}

.scrollbar::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/templates/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

#wrapper {
  margin-top: 53px;
  overflow-x: hidden;
}

#sidebar-wrapper {
margin-left: -15rem;
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
padding: 0.875rem 1.25rem;
font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
margin-left: 0;
}